# Ignore everything
*

# But include these files/folders
!dist/**
!src/dashboardClient.js
!package.json
!README.md
!LICENSE

# Explicitly ignore node_modules even if they're in included directories
**/node_modules/**

# Ignore all source files in dashboard/client except the built files
dashboard/client/*
!dashboard/client/dist/**